<h2>Editing Book</h2>

<%= form_for @book, url: book_path, method: :patch do |form| %>              <!-- (1) -->
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= form.label :body %>
    <br>
    <%= form.text_field :body %>
    <br>
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>

<br>
<%= link_to 'Show', book_path(@book.id) %>｜<%= link_to 'Back', books_path %>